<div id="paypal" class="col-lg-12" style="margin-top: 25px;">
 <div class="col-lg-5" style="padding-left: 0px;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="D7RW5U79EMLRW">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="stockmarketwaves subscription">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="src" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0"  style="width: 160px; margin-bottom: 10px;">
<option value="Option 1">Option 1 : $29.99 USD - monthly</option>
<option value="Option 2">Option 2 : $299.99 USD - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="option_select0" value="Option 1">
<input type="hidden" name="option_amount0" value="29.99">
<input type="hidden" name="option_period0" value="M">
<input type="hidden" name="option_frequency0" value="1">
<input type="hidden" name="option_select1" value="Option 2">
<input type="hidden" name="option_amount1" value="299.99">
<input type="hidden" name="option_period1" value="Y">
<input type="hidden" name="option_frequency1" value="1">
<input type="hidden" name="option_index" value="0">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
 <div class="col-lg-2" >&nbsp;&nbsp;or</div>
 <div class="col-lg-5" style="padding-left: 0px; padding-right: 0px;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="D7RW5U79EMLRW">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="stockmarketwaves 1 year">
<input type="hidden" name="amount" value="149.99">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="cn" value="Add special instructions to the seller:">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="tax_rate" value="6.750">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 </div>
</div>

